# Functions, Lists and Loops

**A Reproducible Research Workshop**

(A Collaboration between Dartmouth Library and Research Computing)

[*Click here to view or register for our current list of workshops*](http://dartgo.org/RRADworkshops)

*Created by*:
+ Version 1.0: Jeremy Mikecz, Research Data Services (Dartmouth Library)
+ Version 2.0: revised, rewritten, and updated by Mansa Krishna (Earth Science) - (*much thanks Mansa!)
+ Some of the inspiration for the code and information in this notebook was taken from https://www.w3schools.com/python/python_intro.asp -- This is a great resource if you want to learn more about Python!

## I. Indentation

1. Before we dive into functions, lists and loops, we need to talk about an important aspect of Python syntax: **indentation**. Indentation refers to the space at the beginning of a line of code. In other programming languages, indentation is usually aesthetic, but in Python it's super important!

To indent you could either use four spaces or press the tab key.

In [2]:
# Indentation can indicate a block of code. 
if 50 > 2: 
    print('Fifty is greater than two') # notice the indent here!

Fifty is greater than two

In [3]:
# Python will give you an error if you miss the indent. 
if 50 > 2: 
print('Fifty is greater than two')

IndentationError: expected an indented block (3672834059.py, line 3)

## II. Functions

At times, we want Python to perform a specific task, but it doesn't have the built-in function that we need. Fortunately, we can write our own functions. 

A function is a piece of code that only runs when it is called (this will make a bit more sense after we see an example). We can pass parameters (data) into a function, which will perform operations on them. 

2. In Python, we use the `def` keyword to define a function.

In [4]:
# First, create a function
def print_hello():
    print('Hello!')

3. The above function does not do anything until called:

In [5]:
# Next, call the function
print_hello()

Hello!

In [6]:
# Now, let's try adding some arguments/parameters to our functions
def add(x, y):
    # we want to add these numbers and
    # return the result
    sum = x + y
    
    return sum
    
add(7, 3)

10

<h3 style="color:blue;">Exercises for Part II</h3>
    
<p style="color:blue;">4. Try calling our add() function, but this time with 3 numbers. What happens?</p>

In [7]:
add(3, 5, 8)

TypeError: add() takes 2 positional arguments but 3 were given

## III. Creating Lists

5. Storing data in individual variables makes sense when you have a few unique values. 

However, operating on many individual variables would be tedious and time-consuming. 

Instead, we can store multiple values under one variable using lists. Say, for example, you want to store quiz scores for a class or multiple race results for a single track athlete. You could store them in a list.

```
**Scores - Quiz 1**   
73.5
86.2
81.9
90.1
67.8
88.0
```/

6. Lists require two principal symbols:

* ```[]``` to store values
* ```,``` to separate values

. So the list of scores for the first quiz could be stored by:

In [8]:
# Run this cell by pressing Ctrl+Enter or pressing the play button while selecting this cell.
quiz1 = [73.5, 86.2, 81.9, 90.1, 57.8, 88.0]

7. Lists can contain any type of data. For example, a list of strings may look like this:

In [9]:
student_names = ["Ezekiel", "Maura", "Aly", "Xavi", "Donato", "Jenny"]

8. Or booleans, like:

In [10]:
passed = [True, True, True, True, False, True]

Note: Python only recognizes "True" and "False" as booleans, not "TRUE" or "false".

9. You can print out the contents of these lists using the built-in function **print()**.

In [11]:
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0]

10. To check to see if a variable name contains a list, use the **type()** function.

In [13]:
type(passed)

list

11. You can also calculate the total number of items in a list using the built-in function **len()**. Run the following code:

In [14]:
len(quiz1)

6

11b. We can run some basic functions to retrieve other information from a list.

In [17]:
print(max(quiz1))
print(min(quiz1))
print(max(student_names))
min(student_names)         #no print function necessary for last line in a cell

90.1
57.8
Xavi

'Aly'

12. *As we already learned, **len()** works on characters strings as well as lists.* But, it counts characters differently. Run the following code and then calculate the length of each variable. What do you notice?

In [18]:
sent = "This is a sentence."
words = ["This", "is", "a", "sentence."]

In [19]:
#calculate the length of "sent" and "words".
print(len(sent))
print(len(words))

19
4

<h3 style="color:blue;">Exercises for Part III</h3>
    
<p style="color:blue;">13. Create a list of at least five of your favorite numbers (or numbers that recall a significant event, person, or stage of your life). Save to the variable **fav_numbers**.</p>

In [20]:
fav_numbers = [3, 7, 11, 79, 111, 2012, 2015, 2021, 88888888]

<p style="color:blue;">14. Create a list of at least five people that have inspired you. Save to the variable **inspirational_people**.</p>

In [24]:
inspirational_people = ["Homer Simpson", "Abe Simpson", "Groundskeeper Willie", "Sideshow Bob", "Lisa Simpson", "Marge", "Lenny", "Karl"]

<p style="color:blue;">15. Now, print out each of these lists.</p>

In [29]:
print(fav_numbers)
print(inspirational_people) #note: for long variables you can just type the first few letters and a list of options of variables saved in memory will appear.
                             #or you can press TAB to auto-complete the variable name
inspirational_people    #print not necessary to output last line in a cell, but noticed how it is outputed differently

[3, 7, 11, 79, 111, 2012, 2015, 2021, 88888888]
['Homer Simpson', 'Abe Simpson', 'Groundskeeper Willie', 'Sideshow Bob', 'Lisa Simpson', 'Marge', 'Lenny', 'Karl']

['Homer Simpson',
 'Abe Simpson',
 'Groundskeeper Willie',
 'Sideshow Bob',
 'Lisa Simpson',
 'Marge',
 'Lenny',
 'Karl']

<p style="color:blue;">16. Print out the length of each of these lists.</p>

In [28]:
print(len(fav_numbers))
len(inspirational_people)

9

8

<p style="color:blue;">16b. Print out the maximum value from each list.</p>

In [30]:
print(max(fav_numbers))
print(max(inspirational_people))

88888888
Sideshow Bob

## IV. List Indexes

We can retrieve portions of the list using indexes and slices. 

One important note: in Python the first item in a series is always considered number 0.

17. Thus, to retrieve the first item in our list (that is, the first quiz score), you would simply run:

In [31]:
quiz1[0]

73.5

<div class="alert alert-success" role="alert">
    <p style="color:green"><b>18. Code Together</b>: Using the same format, now try retrieving the 3rd person from your list of inspirational people.</p>
</div>

In [32]:
quiz1[2]

81.9

Now imagine you have a long list. You can identify the last item in a list by using the index [-1]. For example:

```
name-of-list[-1]
```

<div class="alert alert-success" role="alert">
    <p style="color:green"><b>19. Code Together</b>: Try that below with our list of quiz scores.</p>
</div>

In [33]:
quiz1[-1]

88.0

<div class="alert alert-success" role="alert">
    <p style="color:green"><b>20. Code Together</b>: Indexing beyond the end of the list will produce an "IndexError". Try, for example, retrieving the 100th item in our list of quiz scores.</p>
</div>

In [35]:
quiz1[99]

IndexError: list index out of range

## V. List Slices

To retrieve multiple, consecutive items from a list, we can use slices.

The format is as follows:

```
name-of-list[start:end]

```

List slices begin with the start number but end one number before the end number.

So, **"start"** is the index of the first item of the list (starting with zero) and
**"end"** is the index of the last item in the list + 1.

21. Run the cell below

In [36]:
quiz1[0:2]

[73.5, 86.2]

<div class="alert alert-success" role="alert">
    <p style="color:green"><b>22. Code Together</b>: Using this format, retrieve the second through fourth item in our list. Compare the results to our original list. If you did it wrong, adjust the indices you are using.</p>
</div>

In [37]:
quiz1[1:4] 
# remember that incrementing starts at 0!

[86.2, 81.9, 90.1]

## VI. Modifying a List

There are multiple ways to modify a list. 

23. Run the following code and see what each does. Then finish the text cell below.

In [40]:
print(quiz1)
quiz1.append(96.6) # appending an element to the list
print(quiz1)

#run this cell multiple times to see what happens

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6]
[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6]

The **append** method modifies a list by [*insert your explanation here*].

24. Now, let's compare it to the extend method.

In [41]:
print(quiz1)
quiz_group2 = [78.7, 94.0, 89.3]
quiz1.extend(quiz_group2)
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6]
[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0, 89.3]

The **extend** method modifies a list by ....

25. Can you guess what pop does?

In [42]:
print(quiz1)
quiz1.pop()
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0, 89.3]
[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0]

The **pop** method modifies a list by ...

26. Often, there are multiple ways to accomplished the same thing. For example:

In [43]:
print(quiz1)
quiz_group3 = [88.9, 93.3, 98.6]
quiz1 = quiz1 + quiz_group3 # notice that we've used '+' here!
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0]
[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]

In [44]:
# We can also use built-in functions with lists
max(quiz1) # returns the maximum value in a list

98.6

In [45]:
# sorting a list
sorted(student_names, reverse=True)

['Xavi', 'Maura', 'Jenny', 'Ezekiel', 'Donato', 'Aly']

<h3 style="color:blue;">Exercises for Part VI</h3>
    
<p style="color:blue;">27. Create a list of some of your favorite musicians, actors, or writers (at least 4).</p>

In [48]:
other_favs = ["The Edge", "Adele", "Fergie", "Gaga, Lady", "Cher", "Bono", "Drake"]    #I'm using musicians who go by one name because I am lazy.

<p style="color:blue;">28. Add that list to your list of inspirational people. Print out this new list.</p>

In [49]:
inspirational_people.extend(other_favs)
print(inspirational_people)

['Homer Simpson', 'Abe Simpson', 'Groundskeeper Willie', 'Sideshow Bob', 'Lisa Simpson', 'Marge', 'Lenny', 'Karl', 'The Edge', 'Adele', 'Fergie', 'Gaga, Lady', 'Cher', 'Bono', 'Drake']

<p style="color:blue;">29. Calculate the number of people in your inspirational_people list. Then replace the 3rd to last person with another important person to you.</p>

In [50]:
print(len(inspirational_people))

15

In [51]:
inspirational_people[-3] = "Chuck"
print(inspirational_people)

['Homer Simpson', 'Abe Simpson', 'Groundskeeper Willie', 'Sideshow Bob', 'Lisa Simpson', 'Marge', 'Lenny', 'Karl', 'The Edge', 'Adele', 'Fergie', 'Gaga, Lady', 'Chuck', 'Bono', 'Drake']

<p style="color:blue;">30. Multiply your list of inspirational_people by two:</p>

```
print(inspirational_people * 2)
```

What happens?

In [52]:
print(inspirational_people * 2)

['Homer Simpson', 'Abe Simpson', 'Groundskeeper Willie', 'Sideshow Bob', 'Lisa Simpson', 'Marge', 'Lenny', 'Karl', 'The Edge', 'Adele', 'Fergie', 'Gaga, Lady', 'Chuck', 'Bono', 'Drake', 'Homer Simpson', 'Abe Simpson', 'Groundskeeper Willie', 'Sideshow Bob', 'Lisa Simpson', 'Marge', 'Lenny', 'Karl', 'The Edge', 'Adele', 'Fergie', 'Gaga, Lady', 'Chuck', 'Bono', 'Drake']

31. Run the following code. What does the **set()** function do?

In [53]:
numbers = [12,4,5,2,3,2,2,4,7,8,9,2,3,1,2,1,1,2,1,4,67,3,5,3,5,7,4,1,3,2,4,1,7,2,16,23,4,5]
print(set(numbers))

{1, 2, 3, 4, 5, 67, 7, 8, 9, 12, 16, 23}

32. We can also sort lists. Run the following. How do they differ?

In [58]:
print(sorted(numbers))
print(sorted(numbers, reverse = True))
print(set(sorted(numbers)))
print(sorted(set(numbers)))

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 7, 7, 7, 8, 9, 12, 16, 23, 67]
[67, 23, 16, 12, 9, 8, 7, 7, 7, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
{1, 2, 3, 4, 5, 67, 7, 8, 9, 12, 16, 23}
[1, 2, 3, 4, 5, 7, 8, 9, 12, 16, 23, 67]

<h3 style="color:blue;">Exercises for Part VI (continued)</h3>
    
<p style="color:blue;">33. Print out a list of your inspirational people, sorted in descending order.</p>

In [59]:
print(sorted(inspirational_people, reverse = True))

['The Edge', 'Sideshow Bob', 'Marge', 'Lisa Simpson', 'Lenny', 'Karl', 'Homer Simpson', 'Groundskeeper Willie', 'Gaga, Lady', 'Fergie', 'Drake', 'Chuck', 'Bono', 'Adele', 'Abe Simpson']

<p style="color:blue;">34. Calculate the class's average quiz score using functions and methods introduced in this lesson.</p>

In [60]:
def average(numlist):
    avg = sum(numlist) / len(numlist)
    return(avg)

list_of_nums = [5, 3, 7, 13, 6]
average(list_of_nums)

6.8

<p style="color:blue;">35. Apply the **min()** and **max()** functions to your list of inspirational_people. What happens?</p>

## VII. Loops

Often we want to examine or modify each individual item in a list. An easy way to iterate over a list is using a **for loop**. The general structure of a for loop is:

```
for item in named_list:
    [instructions for what to do with each item]
```

In such for loops, named_list must be an already established list. "item", however, is an arbitrary variable name we are assigning to each item in the list. 

36. Run the simple for loop below:

In [ ]:
for name in student_names:  #note: student_names is an already defined list; *name* is assigned here to each individual item in this list
    print(name)

Ezekiel
Maura
Aly
Xavi
Donato
Jenny

37. We can use for loops to modify items in a list. 

For example, see what happens when we apply the **.lower()** method to each item in our student_names_sorted list.

In [ ]:
sorted_names = sorted(student_names)
for name in sorted_names:
    print(name.lower())

aly
donato
ezekiel
jenny
maura
xavi

<h3 style="color:blue;">Exercises for Part VII </h3>
    
<p style="color:blue;">38. Can you guess how to convert all student names into uppercase? Try to do so below:</p>

In [69]:
sorted_names = sorted(student_names)
for name in sorted_names:
    print(name.upper())   #note: this just prints out each name that has been converted to upper case. To save these new upper-cased names into memory see the next step:

ALY
DONATO
EZEKIEL
JENNY
MAURA
XAVI

39. To save these variations, we need to save them to a new list. We can do so using the following formula:

```
new_list = []  #creates a new, empty list
for item in existing_list:
    new_item = [modify original item]
    new_list.append(new_item)
```

In [ ]:
student_names_lower = []
for name in sorted_names:
    lower_name = name.lower()
    student_names_lower.append(lower_name)

40. Print out this new list:

In [ ]:
print(student_names_lower)

['aly', 'donato', 'ezekiel', 'jenny', 'maura', 'xavi']

<h3 style="color:blue;">Exercises for Part VII (continued)</h3>
    
<p style="color:blue;">41. Create a new list of your inspirational people, but converted to upper case.</p>

In [62]:
# we can do this using a traditional for loop
upper_list = []

for name in inspirational_people:
    upper_list.append(name.upper())

print(upper_list)

['HOMER SIMPSON', 'ABE SIMPSON', 'GROUNDSKEEPER WILLIE', 'SIDESHOW BOB', 'LISA SIMPSON', 'MARGE', 'LENNY', 'KARL', 'THE EDGE', 'ADELE', 'FERGIE', 'GAGA, LADY', 'CHUCK', 'BONO', 'DRAKE']

In [63]:
# or we can use a list comprehension
upper_list = [name.upper() for name in inspirational_people]
print(upper_list)

['HOMER SIMPSON', 'ABE SIMPSON', 'GROUNDSKEEPER WILLIE', 'SIDESHOW BOB', 'LISA SIMPSON', 'MARGE', 'LENNY', 'KARL', 'THE EDGE', 'ADELE', 'FERGIE', 'GAGA, LADY', 'CHUCK', 'BONO', 'DRAKE']

<p style="color:blue;">42. You are the students' instructor. You have decided to grade their quizzes on a curve (see variable "quiz1" from the beginning of this lesson), increasing each grade by 10%. Create a new list storing students' updated scores.</p>

In [66]:
print(quiz1)
quiz1_curved = []
for grade in quiz1:
    quiz1_curved.append(grade * 1.1)

#also could do: quiz1_curved = [grade * 1.1 for grade in quiz1]
print(quiz1_curved)

[73.5, 86.2, 81.9, 90.1, 57.8, 88.0, 96.6, 96.6, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]
[80.85000000000001, 94.82000000000001, 90.09000000000002, 99.11, 63.580000000000005, 96.80000000000001, 106.26, 106.26, 106.26, 86.57000000000001, 103.4, 97.79000000000002, 102.63000000000001, 108.46000000000001]

<p style="color:blue;">43. Create a list that stores the number of characters found in the name of each of your inspiration people. Then, calculate the average name length of these people.</p>

In [68]:
name_lengths = [len(name) for name in inspirational_people]
print(name_lengths)
average(name_lengths)

# we could also add the following code to identify the person with the longest name in the list:
# max_length = max(name_lengths)
#print(max_length)
#max_idx = name_lengths.index(max_length)
#print(max_idx)
#print(student_names[max_idx])

[13, 11, 20, 12, 12, 5, 5, 4, 8, 5, 6, 10, 5, 4, 5]

8.333333333333334