# Lists and Loops

## I. Creating Lists

Storing data in individual variables makes sense when you have a few unique values. 

However, operating on many individual variables would be tedious and time-consuming. 

Instead, we can store multiple values under one variable using lists. Say, for example, you want to store quiz scores for a class or multiple race results for a single track athlete. You could store them in a list.

```
**Scores - Quiz 1**   
73.5
86.2
81.9
90.1
67.8
88.0
```

Lists require two principal symbols:
* ```[]``` to store values
* ```,``` to separate values

1. So the list of scores for the first quiz could be stored by:

In [156]:
# Run this cell by pressing Ctrl+Enter or pressing the play button while selecting this cell.
quiz1 = [73.5, 86.2, 81.9, 90.1, 67.8, 88.0]

2. Lists can contain any type of data. For example, a list of strings may look like this:

In [157]:
student_names = ["Ezekiel", "Maura", "Aly", "Xavi", "Donato", "Jenny"]

3. Or booleans, like:

In [158]:
pass_fail_student = [False, False, False, True, False, True]

Note: Python only recognizes "True" and "False" as booleans, not "TRUE" or "false".

4. You can print out the contents of these lists using the built-in function **print()**.

In [159]:
print(quiz1)  #!!
print(student_names) #!!
print(pass_fail_student)  #!!

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0]
['Ezekiel', 'Maura', 'Aly', 'Xavi', 'Donato', 'Jenny']
[False, False, False, True, False, True]

5. To check to see if a variable name contains a list, use the **type()** function.

In [115]:
type(quiz1)   #!!

list

6. You can also calculate the total number of items in a list using the built-in function **len()**. Run the following code:

In [116]:
len(quiz1)

6

7. *As we already learned, **len()** works on characters strings as well as lists.* But, it counts characters differently. Run the following code and then calculate the length of each variable. What do you notice?

In [117]:
sent = "This is a sentence."
words = ["This", "is", "a", "sentence."]

In [118]:
#calculate the length of "sent" and "words".
print(len(sent)) #!!
len(words) #!!

19

4

## Exercises for Part I

8. Create a list of at least five of your favorite numbers (or numbers that recall a significant event, person, or stage of your life). Save to the variable **fav_numbers**.

In [119]:
fav_numbers = [1, 7, 10, 33, 83, 1983, 1122, 949, -99]  #!!

9. Create a list of at least five people that have inspired you. Save to the variable **inspirational_people**.

In [120]:
#!!
inspirational_people = ["Harriet Tubman", "Homer Simpson", "Nelson Mandela", "Big Bird", "Crazy Horse", "Mr. Rogers", "Buffy the Vampire Slayer"]

## II. List Indexes and Slices

We can retrieve portions of the list using indexes and slices. 

One important note: in Python the first item in a series is always considered number 0.

10. Thus, to retrieve the first item in our list (that is, the first quiz score), you would simply run:

In [160]:
quiz1[0]

73.5

11. Using the same format, now try retrieving the 3rd person from your list of inspirational people.

In [122]:
inspirational_people[2]     #!!

'Nelson Mandela'

Now imagine you have a long list. You can identify the last item in a list by using the index [-1]. For example:

```
name-of-list[-1]
```

12. Try that below with our list of quiz scores.

In [123]:
quiz1[-1]  #!!

88.0

13. Now, retrieve the second to last quiz score.

In [124]:
quiz1[-2] #!!

67.8

14. Indexing beyond the end of the list will produce an "IndexError". Try, for example, retrieving the 100th item in our list of quiz scores.

In [125]:
# quiz1[99] #!!

### IIb. Slices

To retrieve multiple, consecutive items from a list, we can use slices.

The format is as follows:

```
name-of-list[start:end]

```

List slices begin with the start number but end one number before the end number.

So, **"start"** is the index of the first item of the list (starting with zero) and
**"end"** is the 

15. Using this format, retrieve the second through fourth item in our list. Compare the results to our original list. If you did it wrong, adjust the indices you are using.

In [126]:
quiz1[1:3]  #!!

[86.2, 81.9]

16. Now, see if you can create a slice of your inspirational people list by counting back from the end of the list. Does it work?

In [127]:
inspirational_people[2:-2]  #!!

['Nelson Mandela', 'Big Bird', 'Crazy Horse']

## III. Modifying a List

There are multiple ways to modify a list. 

17. Run the following code and see what each does. Then finish the text cell below.

In [128]:
print(quiz1)
quiz1.append(96.6)
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0]
[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6]

The **append** method modifies a list by [*insert your explanation here*].

18. Now, let's compare it to the extend method.

In [129]:
print(quiz1)
quiz_group2 = [78.7, 94.0, 89.3]
quiz1.extend(quiz_group2)
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6]
[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 89.3]

The **extend** method modifies a list by ....

19. Can you guess what pop does?

In [130]:
print(quiz1)
quiz1.pop()
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 89.3]
[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0]

The **pop** method modifies a list by ...

20. Often, there are multiple ways to accomplished the same thing. For example:

In [131]:
print(quiz1)
quiz_group3 = [88.9, 93.3, 98.6]
quiz1 = quiz1 + quiz_group3
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0]
[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]

Using **+** with two lists is the same as [what method?].

21. Run the following.

In [132]:
print(quiz1)
quiz1[0] = 99.3
print(quiz1)

[73.5, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]
[99.3, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]

What does the above do?

## Exercises (Parts II and III)

22. Create a list of some of your favorite musicians, actors, or writers (at least 4).

In [133]:
#!!
favs = ["Denzel", "Beyonce", "Madonna", "Elvis", "Snoop", "Meryl"]

23. Add that list to your list of inspirational people. Print out this new list.

In [134]:
#!!
inspirational_people.extend(favs)
print(inspirational_people)

['Harriet Tubman', 'Homer Simpson', 'Nelson Mandela', 'Big Bird', 'Crazy Horse', 'Mr. Rogers', 'Buffy the Vampire Slayer', 'Denzel', 'Beyonce', 'Madonna', 'Elvis', 'Snoop', 'Meryl']

24. Calculate the number of people in your inspirational_people list. Then replace the 3rd to last person with another important person to you.

In [135]:
print(len(inspirational_people))
inspirational_people[-3] = "Giannis"

13

25. Multiply your list of inspirational_people by two:

```
print(inspirational_people * 2)
```

What happens?

In [136]:
#!!
print(inspirational_people * 2)

['Harriet Tubman', 'Homer Simpson', 'Nelson Mandela', 'Big Bird', 'Crazy Horse', 'Mr. Rogers', 'Buffy the Vampire Slayer', 'Denzel', 'Beyonce', 'Madonna', 'Giannis', 'Snoop', 'Meryl', 'Harriet Tubman', 'Homer Simpson', 'Nelson Mandela', 'Big Bird', 'Crazy Horse', 'Mr. Rogers', 'Buffy the Vampire Slayer', 'Denzel', 'Beyonce', 'Madonna', 'Giannis', 'Snoop', 'Meryl']

26. Run the following code. What does the **set()** function do?

In [137]:
numbers = [12,4,5,2,3,2,2,4,7,8,9,2,3,1,2,1,1,2,1,4,67,3,5,3,5,7,4,1,3,2,4,1,7,2,16,23,4,5]
print(set(numbers))

{1, 2, 3, 4, 5, 67, 7, 8, 9, 12, 16, 23}

27. What does the **Counter()** function from the **collections library appear to do?

In [138]:
import collections
collections.Counter(numbers)

Counter({12: 1,
         4: 6,
         5: 4,
         2: 8,
         3: 5,
         7: 3,
         8: 1,
         9: 1,
         1: 6,
         67: 1,
         16: 1,
         23: 1})

## IV. Functions

For lists of numbers, we can run the following basic functions:

+ **max()**
+ **min()**
+ **sum()**

28. Below, calculate retrieve the maximum and minimum values as well as the sum of our list of student quiz scores.

In [139]:
max(quiz1) #!!

99.3

In [140]:
min(quiz1) #!!

67.8

In [141]:
sum(quiz1) #!!

1063.3999999999999

29. We can also sort lists. Run the following. How do they differ?

In [142]:
sorted(student_names)

['Aly', 'Donato', 'Ezekiel', 'Jenny', 'Maura', 'Xavi']

In [143]:
sorted(student_names, reverse = True)

['Xavi', 'Maura', 'Jenny', 'Ezekiel', 'Donato', 'Aly']

Note: The **sorted()** function just temporarily sorts a list. To save this new list, we need to assign it to a variable.

30. Alternatively, we could use the **.sort()** method to sort the original list. For example:

In [144]:
student_names_sorted = sorted(student_names)
print(student_names_sorted)

['Aly', 'Donato', 'Ezekiel', 'Jenny', 'Maura', 'Xavi']

In [145]:
copy_names = student_names.copy()
copy_names.sort()
print(copy_names)
print(student_names)

['Aly', 'Donato', 'Ezekiel', 'Jenny', 'Maura', 'Xavi']
['Ezekiel', 'Maura', 'Aly', 'Xavi', 'Donato', 'Jenny']

## Exercises (Part IV)

31. Print out a list of your inspirational people, sorted in descending order.

32. Calculate the class's average quiz score using functions and methods introduced in this lesson.

33. Apply the **min()** and **max()** functions to your list of inspirational_people. What happens?

In [146]:
min(inspirational_people) #!!

'Beyonce'

## V. Loops

Often we want to examine or modify each individual item in a list. An easy way to iterate over a list is using a **for loop**. The general structure of a for loop is:

```
for item in named_list:
    [instructions for what to do with each item]
```

In such for loops, named_list must be an already established list. "item", however, is an arbitrary variable name we are assigning to each item in the list. 

34. Run the simple for loop below:

In [147]:
for name in student_names:  #note: student_names is an already defined list; *name* is assigned here to each individual item in this list
    print(name)

Ezekiel
Maura
Aly
Xavi
Donato
Jenny

We can use for loops to modify items in a list. 

35. For example, see what happens when we apply the **.lower()** method to each item in our student_names_sorted list.

In [148]:
for name in student_names_sorted:
    print(name.lower())

aly
donato
ezekiel
jenny
maura
xavi

36. Can you guess how to convert all student names into uppercase? Try to do so below:

In [149]:
for name in student_names_sorted: #!!
    print(name.upper())

ALY
DONATO
EZEKIEL
JENNY
MAURA
XAVI

37. To save these variations, we need to save them to a new list. We can do so using the following formula:

```
new_list = []  #creates a new, empty list
for item in existing_list:
    new_item = [modify original item]
    new_list.append(new_item)
```

In [150]:
student_names_lower = []
for name in student_names_sorted:
    lower_name = name.lower()
    student_names_lower.append(lower_name)

38. Print out this new list:

In [151]:
print(student_names_lower)  #!!

['aly', 'donato', 'ezekiel', 'jenny', 'maura', 'xavi']

## Exercises (V)

39. Create a new list of your inspirational people, but converted to upper case.

In [152]:
student_names_upper = []        #!!
for name in student_names_sorted:
    upper_name = name.upper()
    student_names_upper.append(upper_name)
print(student_names_upper)

['ALY', 'DONATO', 'EZEKIEL', 'JENNY', 'MAURA', 'XAVI']

40. You are the students' instructor. You have decided to grade their quizzes on a curve, increasing each grade by 10%. Create a new list storing students updated scores.

In [153]:
print(quiz1)     #!!
new_scores = []
for score in quiz1:
    new_score = score * 1.1
    new_scores.append(new_score)
print(new_scores)

[99.3, 86.2, 81.9, 90.1, 67.8, 88.0, 96.6, 78.7, 94.0, 88.9, 93.3, 98.6]
[109.23, 94.82000000000001, 90.09000000000002, 99.11, 74.58, 96.80000000000001, 106.26, 86.57000000000001, 103.4, 97.79000000000002, 102.63000000000001, 108.46000000000001]

42. Create a list that stores the number of characters found in the name of each of your inspiration people. Then, calculate the average name length of these people.

In [154]:
name_lengths = []               #!!
for name in inspirational_people:
    name_len = len(name)
    name_lengths.append(name_len)
print(name_lengths)
print(sum(name_lengths) / len(inspirational_people))

[14, 13, 14, 8, 11, 10, 24, 6, 7, 7, 7, 5, 5]
10.076923076923077